
.grid{

height: 100%;
align-items: center;
justify-content: space-center;
margin: 0 40px;
}

.hrads{
    font-size: 20px;
    font-weight: bold;
}

.text{
    width: 450px;
    font-size: 15px; 
    padding-bottom: 10px;
     
}

.flex1{
    width: 500px;
    text-align: justify;
    top: 0;  
}

.icon{
    border: 1px solid black;
    border-radius: 60px;
    width: 60px;
    padding: 10px;
    margin-top: 25px;
}
@media screen and (max-width:700px){
    .text{
        width: 220px;
        justify-content: left;
    }
}
@media screen and (max-width:1000px){
    .text{
        width: 290px;
        
    }
}