*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* padding: 2px 12px; */
    
}
.landingpage{
    height: 100vh;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
 
  
}
.navcontain ul{
    display: flex;
    gap: 20px;
   
}
.backgroundimage{
    margin-right: 40px;
}
.free{
    color: #1D1E4F;
    font-weight: 900;
    
}
.btns{
    background-color: #1D1E4F;
    color: #ffffff;
    box-shadow: 1px 1px #1D1E4F;
    border: none;
    font-size: 15px;
    padding: 5px 5px; 
    width: 7rem;
    border-radius: 15px;
}
.btns:hover{
    background-color: #ffffff;
    color: #1D1E4F;
    box-shadow: 1px 1px 1px 1px #1D1E4F;
    
}
.background{
    display: flex;  
    justify-content: space-between;
   
    margin-top: 40px;
    align-items: center;
  
}
.textbackground{
    text-align: justify;
    padding: 0 40px;
  
}
h2{
    font-size: 50px;
    color: #1D1E4F;
    text-shadow: 1px 1px #1D1E4F;
    font-weight: 900;
    width: auto;
}
.set{
    font-size: 20px;
    padding: 15px 0;
    color: black;
    font-family: Bona Nova;
}
.btn2{
    color: #1D1E4F;
    border-radius: 12px;
    padding: 7px 20px;
    border: 1px solid black;
    font-size: 18px;
    width: 9em;
    background-color: transparent;
}
@media screen and (max-width:700px){
    .background{
       display: block;
    }
    .set{
        font-size: 15px;
    }
}
